{% extends 'adminlte/base.html' %}
{% block content %}
<div class="bg-light d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="card shadow rounded-4 p-4" style="width: 350px;">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">Tem certeza que deseja remover o Cliente?</h5>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Nome:</strong>
                    {{ cliente.nome }}
                </li>
                <li class="list-group-item">
                    <strong>Data de Nascimento:</strong>
                    {{ cliente.data_nascimento }}
                </li>
                <li class="list-group-item">
                    <strong>Email:</strong>
                    {{ cliente.email }}
                </li>
                <li class="list-group-item">
                    <strong>Profissão:</strong>
                    {{ cliente.profissao }}
                </li>
                <li class="list-group-item">
                    <strong>Sexo:</strong>
                    {{ cliente.sexo }}
                </li>
            </ul>
            <form method="post">
                {% csrf_token %}
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary">Voltar</a>
                <button type="submit" class="btn btn-danger">Remover</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}