{% extends 'adminlte/base.html' %}
{% load meus_filtros %} 
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
        <!-- Título centralizado -->
        <h2 class="text-center mb-4">Cadastro de Cliente</h2>

        <!-- Formulário -->
        <form method="POST" class="bg-light p-4 rounded shadow-sm">
            {% csrf_token %}

            <!-- Nome -->
            <div class="form-group">
                <label for="nome" class="font-weight-bold">Nome:</label>
                {{ form.nome|addclass:'form-control'}}
                <div class="text-danger">{{ form.nome.errors }}</div>
            </div>

            <!-- Sexo -->
            <div class="form-group">
                <label for="sexo" class="font-weight-bold">Sexo:</label>
                {{ form.sexo|addclass:'form-control' }}
                <div class="text-danger">{{ form.sexo.errors }}</div>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="email" class="font-weight-bold">Email:</label>
                {{ form.email|addclass:'form-control' }}
                <div class="text-danger">{{ form.email.errors }}</div>
            </div>

            <!-- Data de Nascimento -->
            <div class="form-group">
                <label for="data_nascimento" class="font-weight-bold">Data de Nascimento:</label>
                {{ form.data_nascimento|addclass:'form-control' }}
                <div class="text-danger">{{ form.data_nascimento.errors }}</div>
            </div>

            <!-- Profissão -->
            <div class="form-group">
                <label for="profissao" class="font-weight-bold">Profissão:</label>
                {{ form.profissao|addclass:'form-control' }}
                <div class="text-danger">{{ form.profissao.errors }}</div>
            </div>

            <!-- Botão de submit -->
            <div class="form-group text-center">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-warning">Voltar</a>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</div>

<!-- Incluindo o script do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
