{% extends 'adminlte/base.html' %}

{% block content %}
<!-- Conteúdo principal -->
<div class="container mt-4">
    <h3>Clientes cadastrados</h3>
    <a href="{% url 'cadastrar_clientes' %}" class="btn btn-success">Novo Cliente</a>
    <a href="{% url 'relatorio_clientes_pdf' %}" class="btn btn-danger" target="_blank">Gerar PDF</a>


    <table class="table table-bordered table-striped mt-3">
        <thead class="table-primary">
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Email</th>
            <th>Profissão</th>
            <th>Sexo</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.data_nascimento }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.profissao }}</td>
                <td>{{ cliente.sexo }}</td>
                <td>
                    <a href="{% url 'listar_cliente_id' cliente.id %}" type="button" class="btn btn-info btn-sm">Ver</a>
                    <a href="{% url 'editar_cliente' cliente.id %}" type="button" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'remover_cliente' cliente.id %}" type="button" class="btn btn-danger btn-sm">excluir</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">Nenhum cliente cadastrado.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
